.ipynb_checkpoints/
BH Presentation.pdf
Health Data Science Projects.pdf
__pycache__/
cybersecurity_project.ipynb
diabetic_data.csv
hospitable readmission/
hospital_readmission_cv.ipynb
readmission.ipynb
