.ipynb_checkpoints/
BH Presentation.pdf
Health Data Science Projects.pdf
__pycache__/
cybersecurity_project.ipynb
diabetic_data.csv
hospitable readmission/
hospital_readmission_cv.ipynb
readmission.ipynb
readmission1.ipynb
hospital_readmission1.ipynb
hospital_readmissions.ipynb
hospital_readmissions3.ipynb
hospital_readmission4.ipynb
hospital_reamissions1.ipynb
readmission_byAge.ipynb
readmissions1.ipynb
temp.ipynb
Readmission2.ipynb
Untitled.ipynb
feature_rf.png
final_exam.ipynb
grd_features.png
grd_lr.csv
hospital_readmission-Copy1.ipynb
hospital_readmission_1.5
hospital_readmission_tree_n_linear.ipynb
hospital_readmission_tree_under.ipynb
hospital_readmission_under_sample_tree_feedIn_logistic.ipynb
hospital_readmission_under_sampling.ipynb
lift.csv
lift1.csv
lr.csv
new_data.csv
readmission.pptx
readmission_dist.png
readmission_down.png
readmission_undersampling.Rmd
readmission_undersampling.nb.html
roc.png
under_sampling.ipynb
Capture.PNG
grd_lr1.csv
gridsearch.PNG
lr1.csv
lr_coef.png
under_sampling_training.png
hospital_readmission_reduce.ipynb
hospital_readmission_tree.ipynb
hospital_readmissions.ipynb
hospital_readmissions3.ipynb 
